body{
    margin: 0 0 0 0;
    margin-top: 10px;
    font-family: sans-serif;
}

.mouseBtn{
    text-align: center;
    position: relative;
    margin: 2.5% 2.5% 2.5% 2.5%;
    float: left;
    width:45%;
    height: 40%;
    background-color: #CCC;
}

.normalBtn{
    margin: 0 2.5px 0 2.5px;
    position: relative;
    float: left;
    clear: left;
    width:100%;
    height:2%;
    min-height:25px;
    color: #fff;
    background-color: #4d4d4d;
}

.mouseBtnDown{
    background-color:#4d4d4d;
    color: #fff;
}
